bokeh>=2.4.0
cvxpy>=1.1.11
dask>=2022.1.0
datashader>=0.14.0
distributed>=2022.1.0
ecos>=2.0.7
ffmpeg-python==0.2.0
holoviews>=1.14.0
jupyter
matplotlib
natsort
netcdf4
networkx>=2.6
numba>=0.56.0
numpy>=1.23.5,<2.0.0
opencv-python>=4.6.0
pandas>=1.4.0
panel>=0.12.0
pyfftw>=0.12.0
scikit-image>=0.19.0
scikit-learn>=1.0.0
scipy>=1.8.0,<1.12.0
scs
simpleitk>=2.1.0
sk-video
statsmodels>=0.13.0
tifffile
xarray>=2022.3.0
zarr
sparse>=0.13.0
pymetis>=2020.1
rechunker>=0.4.0
medpy>=0.4.0
jinja2>=3.0.0